<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon name="arrow-back"></ion-icon>
    <ion-title class="home">
      
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img class="img" src="/assets/logo.png" alt="" />
    <ion-card-header>
      <ion-card-title> QR Code and Barcode </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Here we can scan a Qr code or Barcode </p>
    </ion-card-content>
    <ion-button class="subBtn" expand='outline' margin (click)="scanBarcode()">Click to scan a barcode</ion-button>
    <ion-card>
      <div *ngIf="scannedData.text">
        <label>Your barcode is</label>
        <br>
        <span>{{scannedData.text}}</span>
      </div>
    </ion-card>
  </ion-card>

</ion-content>

